@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter Bold";
  src: url("./assets/fonts/Inter-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Sverdlovsk";
  src: url("./assets/fonts/Sverdlovsk.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  color: #022E22;
}

h1 {
  font-size: 6.15rem;
}

h2 {
  font-size: 3rem;
}

h1,
h2,
h3 {
  font-family: "Sverdlovsk";
  font-weight: 500;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

span {
  display: block;
  font-family: "Inter", sans-serif;
  text-align: center;
}

.grid {
  display: grid;
  grid-gap: 1.5rem;
  gap: 1.5rem;
}

.section {
  padding: 8rem 0 2rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 968px;
}

.content {
  align-items: center;
  grid-template-columns: 45% 40%;
  column-gap: 2rem;
  padding-top: 5.5rem;
}

.bold {
  font-weight: bold;
}

.error {
  color: #ff7474;
}

.error::placeholder {
  color: red
}

.disabled {
  pointer-events: none; /* Блокирует события мыши */
  opacity: 0.5;
}

/* HEADER */

.header {
  background-color: #ffffff;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
}

.nav__list {
  column-gap: 2rem;
  display: flex;
}

.nav__link {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #002906;
  text-transform: uppercase;
  transition: 0.3s;
}

.nav__link:hover {
  color: #ff03a8;
}

.nav__icon {
  display: none;
}

.nav__burger-icon {
  display: none;
  width: 1.75rem;
  top: 1rem;
  cursor: pointer;
  position: absolute;
  right: 1.5rem;
}

.nav__close-icon {
  display: none;
}

/* HOME */

.home__container {
  row-gap: 10rem;
}

.home__content {
  align-items: center;
  /* column-gap: 2rem; */
  grid-template-columns: 50% 40%;
  padding-top: 5.5rem;
}

.home__image {
  display: flex;
  width: 363px;
  height: 385px;
  border: 3px solid #ff03a8;
  background: url(assets/images/people.webp);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.home__title {
  position: relative;
}

.home__title img {
  position: absolute;
  width: 60px;
}

.home__title .first-icon {
  top: -5rem;
  left: 2rem;
  rotate: -32deg;
}

.home__title .second-icon {
  rotate: 30deg;
  top: 0;
  right: 3rem;
}

.home__title .third-icon {
  rotate: -7deg;
  top: 18rem;
  left: 13rem;
}

.home__subtitle {
  display: block;
  text-align: center;
  font-size: 0.96rem;
}

.recourse {
  grid-template-columns: 45% 50%;
  font-size: 3.3rem;
}

.recourse h1 {
  font-size: 3.15rem;
  margin-bottom: 5rem;
}

.recourse .first-icon {
  top: -5rem;
  left: 18rem;
  rotate: -14deg;
}

.recourse .home__image {
  background: url(assets/images/handsAndFlowers.webp);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* DATE */

.date__content {
  align-items: center;
  grid-template-columns: 50% 40%;
  padding-top: 5.5rem;
}

.date__data {
  font-family: "Sverdlovsk", sans-serif;
  font-weight: 500;
}

.date__images {
  position: relative;
}

.date__images img {
  width: 250px;
}

.date__second-image {
  position: absolute;
  border: 2px solid #fff;
  top: 7rem;
  right: 4rem;
}

.date__title {
  position: relative;
  text-align: center;
}

.date__title img {
  position: absolute;
  top: -4rem;
  right: 16rem;
  rotate: 15deg;
  width: 50px;
}

.date__subtitle {
  font-size: 1.3rem;
}

.date__calendar-title {
  text-align: center;
}

.calendar {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(7, 1fr);
  font-size: 2rem;
}

.calendar__days,
.calendar__numbers {
  display: contents;
}

.calendar__day,
.calendar__number {
  text-align: center;
  margin: 15px 0px;
}

.calendar__number {
  color: #9d9d9d;
}

.with-heart {
  position: relative;
  color: #fff;
  z-index: 1;
}

.with-heart img {
  position: absolute;
  top: -30%;
  right: -1%;
  z-index: -1;
}

/* PLACE */
.place {
  padding: 15rem 0 10rem;
}

.place__content {
  align-items: center;
  grid-template-columns: 43% 40%;
  padding-top: 5.5rem;
}

.place__data {
  position: relative;
}

.place__image {
  width: 450px;
  height: 450px;
  background: url(assets/images/map.webp);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #ff03a8;
}

.place__image--link {
  border: 1px solid;
  margin-left: 6.6rem;
  padding: 0.7rem;
  /* margin: 0 auto; */
  text-align: center;
  grid-column: 2;
  border-radius: 2rem;
  width: 60%;
}

.place__image--link:hover {
  background-color: #034938;
  color: #fff;
}

.place__title img {
  position: absolute;
  top: -1rem;
  right: 3rem;
  rotate: -23deg;
  z-index: -1;
}

/* TIME */

.time__content {
  grid-template-columns: 50% 40%;
}

.time__image {
  background: url(assets/images/flowers.webp);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 363px;
  height: 385px;
  border: 3px solid #ff03a8;
}

.time__data {
  position: relative;
}

.time__title img {
  position: absolute;
  width: 50px;
  top: -4rem;
  right: 8rem;
  rotate: 15deg;
}

.time__schedule {
  font-size: 1.2rem;
  margin-top: 3rem;
}

.time__schedule-item {
  padding: 0.3rem 0;
}

/* DRESSCODE */

.dresscode__content {
  position: relative;
  grid-template-columns: 50% 40%;
}

.dresscode__title img {
  position: absolute;
  top: 15rem;
  right: 54rem;
  width: 108px;
  rotate: 15deg;
  z-index: -1;
}

.dresscode__data {
  text-align: center;
}

.dresscode__subtitle {
  margin-top: 3rem;
}

.dresscode__subtitle-text {
  display: block;
  margin: 1rem 0;
}

.dresscode__colors {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0 1rem 0;
}

.dresscode__colors li {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.dresscode__colors li:nth-child(1) {
  background-color: #000;
}
.dresscode__colors li:nth-child(2) {
  background-color: #47271c;
}
.dresscode__colors li:nth-child(3) {
  background-color: #a28b83;
}
.dresscode__colors li:nth-child(4) {
  background-color: #323c11;
}
.dresscode__colors li:nth-child(5) {
  background-color: #7d8746;
}
.dresscode__colors li:nth-child(6) {
  background: linear-gradient(
    180deg,
    hsla(45, 61%, 57%, 1) 0%,
    hsla(51, 90%, 73%, 1) 50%,
    hsla(45, 61%, 56%, 1) 100%
  );
}

/* GIFT */

.gift__data {
  position: relative;
}
.gift__title img {
  position: absolute;
}
.gift__title img:nth-child(1) {
  width: 56px;
  top: -4rem;
  rotate: -25deg;
}

.gift__title img:nth-child(2) {
  width: 95px;
  top: 2rem;
  right: 0rem;
  z-index: -1;
  rotate: 15deg;
}

.gift__image {
  background: url(assets/images/hands.webp);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 363px;
  height: 385px;
  border: 3px solid #ff03a8;
}

/*ANKETA */
.anketa__title,
.anketa__subtitle {
  text-align: center;
  margin-bottom: 2rem;
}

.anketa__container {
  max-width: 500px;
}

/* FORM */

form {
  margin: 0px 16px 0px 16px;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #022e22;
}

.form__title {
  text-transform: uppercase;
}

.name_box {
  width: 100%;
  margin-bottom: 2rem;
}

.custom-input {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  height: 2rem;
  font-size: 0.8rem;
}



.menuSelection__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.menuSelection {
  margin-bottom: 2rem;
}

.menuSelection-item {
  margin: 24px 6px 6px 0px;
}

.menuSelection-item input {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: none;
}

.menuSelection-item label {
  cursor: pointer;
  font-size: 0.9rem;
  border: 1px solid;
  border-radius: 8px;
  padding: 0.5rem 0.6rem;
}

.menuSelection-item input:checked + label {
  background-color: #022e22;
  color: #fff;
}

.footnote {
  font-size: 0.8rem;
  margin-top: 1rem;
}

.submit_form {
  background-color: transparent;
  border: 1px solid;
  border-radius: 44px;
  padding: 1rem 3rem;
}

.submit_form:hover {
  background-color: #022e22;
  color: #fff;
  
}

.radio-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;
}

.radio-buttons input[type="radio"] {
  display: none; /* Скрываем оригинальные радиокнопки */
}

.radio-buttons input[type="radio"] + label {
  cursor: pointer;
  padding-left: 2rem;
  position: relative;
  margin-bottom: 1rem;
}

.radio-buttons input[type="radio"] + label:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 1px solid #022e22;
  border-radius: 50%;
  position: absolute;
  left: 0;
}

.radio-buttons input[type="radio"]:checked + label:before {
  background-color: #022e22; /* Изменяем цвет круга при выборе */
}

#allergyInput {
  display: none;
}

.preference-block {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 10px;
}

.preference-item {
  margin-bottom: 5px;
}

.preference-item input[type="checkbox"] {
  display: none;
}

.preference-item label {
  display: block;
  cursor: pointer;
}

.preference-item input[type="checkbox"]:checked + label {
  background-color: lightblue;
}

/* CONTACTS */

.contacts__content {
  column-gap: 8rem;
}

.contact-name {
  font-size: 4rem;
}

.contact-number {
  font-family: "Sverdlovsk";
  font-size: 3rem;
}

.contact-number:hover {
 color: #ff03a8
}

.contacts-postscript {
  margin: 1rem 0;
  text-align: center;
  font-size: 0.8rem;
}

.contacts__text {
  position: relative;
}

.contacts__text img {
  position: absolute;
  top: -8rem;
  left: 9rem;
  rotate: 15deg;
}

@media screen and (max-width: 992px) {
  .container {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .nav__link {
    font-size: 0.8rem;
  }

  .home__image {
    width: 290px;
    height: 300px;
  }

  .home__title .first-icon {
    top: -5rem;
    left: 0rem;
  }

  .home__title .second-icon {
    top: 4rem;
    right: 0rem;
  }

  .home__title .third-icon {
    top: 16rem;
    left: 8rem;
    rotate: 4deg;
  }

  .recourse {
    grid-template-columns: 50% 50%;
  }

  .recourse h1 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
  }

  .recourse .first-icon {
    top: -5rem;
    left: 16rem;
    rotate: -24deg;
}

  .date__images img {
    width: 200px;
  }

  .date__title img {
    top: -2rem;
    right: 14rem;
  }

  .calendar {
    font-size: 1.9rem;
  }

  .with-heart img {
    top: -0.8rem;
    right: -0.2rem;
    z-index: -1;
  }

  .place__image {
    width: 350px;
    height: 400px;
  }

  .time__image {
    width: 290px;
    height: 300px;
  }

  .dresscode__title img {
    right: 32rem;
  }

  .dresscode__colors li {
    width: 40px;
    height: 40px;
  }

  .gift__image {
    width: 290px;
    height: 300px;
  }

  .anketa__container {
    margin: 0 auto;
  }


  .contacts__content {
    column-gap: 3rem;
    grid-template-columns: 48% 45%;
}

  .contacts__text img {
    left: 3rem;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    text-align: center;
    font-size: 7.5rem;
  }

  h2,
  span,
  a {
    text-align: center;
  }

  .section {
    padding: 2rem 0 4rem;
  }

  .content {
    column-gap: 0rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .container {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
  }

  .nav {
    height: 3rem;
  }

  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%; /* Начальное положение за пределами экрана */
  }

  .nav__burger-icon {
    display: block;
  }

  .active-menu {
    display: flex;
    background-color: #fff;
    top: 0;
    box-shadow: -15rem 0px 5rem 17rem rgba(0, 0, 0, 0.7);
    right: 0;
    padding: 2rem 1.5rem 4rem;
    position: fixed;
    width: 55%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
  }

  .active-icon {
    display: block;
  }

  .hidden {
    display: none;
  }

  .nav__list {
    flex-direction: column;
  }

  .nav__item {
    font-weight: bold;
    border-bottom: 1px solid rgba(1, 24, 65, 0.08);
  }

  .nav__icon {
    display: block;
    padding-right: 0.625rem;
  }

  .nav__link {
    padding-bottom: 1.125rem;
  }

  .nav__close-icon {
    display: block;
    width: 1.75rem;
    top: 1rem;
    cursor: pointer;
    position: absolute;
    right: 1.5rem;
  }

  .show-menu {
    top: 0;
  }

  .home__container {
    row-gap: 6rem;
  }

  .home__content {
    grid-template-columns: 1fr;
  }

  .home__data {
    /* grid-column: 1 / 3; */
    text-align: center;
  }

  .home__title {
    font-size: 5.5rem;
  }
  .home__title img {
    width: 50px;
  }

  .home__title .first-icon {
    top: 0;
    left: 1rem;
  }

  .home__title .second-icon {
    top: 5rem;
    right: 1rem;
    rotate: 15deg;
  }

  .home__title .third-icon {
    top: 16rem;
    left: 10rem;
    rotate: 0deg;
  }

  .home__image {
    margin-top: 5rem;
    width: 100%;
    height: 435px;
    border: none;
  }

  .recourse h1 {
    font-size: 3.125rem;
  }

  .recourse .home__image {
    grid-row: 2;
  }

  .recourse .first-icon {
    top: -2rem;
    left: 18rem;
  }

  .recourse .home__subtitle {
    font-size: 1.125rem;
    text-align: center;
    margin-bottom: 1rem;
    padding: 0 1rem;
  }

  .date {
    padding: 2rem 0 12rem;
  }

  .date__content {
    row-gap: 6rem;
  }

  .date__title img {
    rotate: -15deg;
    right: 16rem;
  }

  .date__images {
    grid-row: 2;
  }

  .date__second-image {
    right: 0rem;
  }

  .date__subtitle {
    text-align: center;
  }

  .calendar {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .with-heart img {
    right: -0.2rem;
  }

  .place__title img {
    top: 2.6rem;
    right: 4.5rem;
    rotate: 0deg;
    width: 1.7rem;
  }

  .place__image {
    margin: 0 auto;
    border: none;
    width: 100%;
  }

  .place__image--link {
    margin-left: 4.6rem;
    padding: 0.7rem;
    grid-row: 3;
    grid-column: 1;
    border-radius: 2rem;
  }

  .time__content {
    row-gap: 7.5rem;
  }

  .time__title {
    margin-bottom: 3.75rem;
  }

  .time__title img {
    width: 43px;
    top: -4rem;
    right: 1rem;
  }
  .time__image {
    grid-row: 2;
    margin: 0 auto;
    border: none;
    width: 100%;
  }

  .time__schedule {
    padding-left: 2rem;
  }

  .dresscode__title img {
    rotate: 0deg;
    right: 11.5rem;
    top: 14.6rem;
    width: 2rem;
  }

  .grid__data {
    row-gap: 2rem;
  }

  .gift__title {
    font-size: 5rem;
  }

  .gift__image {
    grid-row: 2;
    width: 100%;
    border: none;
  }

  .gift__title img:nth-child(1) {
    width: 25px;
    top: 1.2rem;
    left: 2rem;
    rotate: 0deg;
  }

  .gift__title img:nth-child(2) {
    width: 25px;
    top: 1.2rem;
    right: 2rem;
    rotate: 0deg;
  }

  .contacts__title {
    font-size: 5rem;
    margin-bottom: 10rem;
  }

  .contacts__text img {
    left: 9rem;
    top: 8rem;
    rotate: 0deg;
  }
}





#preloader {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.96);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}




.pl {
  width: 60px;
  height: 60px;
}

.pl__ring {
  animation: ringA 2s linear infinite;
}

.pl__ring--a {
  stroke: #f42f25;
}

.pl__ring--b {
  animation-name: ringB;
  stroke: #f49725;
}

.pl__ring--c {
  animation-name: ringC;
  stroke: #255ff4;
}

.pl__ring--d {
  animation-name: ringD;
  stroke: #f42582;
}

/* Animations */
@keyframes ringA {
  from, 4% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }

  12% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -335;
  }

  32% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -595;
  }

  40%, 54% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -660;
  }

  62% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -665;
  }

  82% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -925;
  }

  90%, to {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -990;
  }
}

@keyframes ringB {
  from, 12% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -110;
  }

  20% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -115;
  }

  40% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -195;
  }

  48%, 62% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  70% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  90% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -305;
  }

  98%, to {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }
}

@keyframes ringC {
  from {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  8% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  28% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  36%, 58% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  66% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  86% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  94%, to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

@keyframes ringD {
  from, 8% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  16% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  36% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  44%, 50% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  58% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  78% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  86%, to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}